<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab4_note_list.css' %}">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Notes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="content">
      {% if notes %}
        {% for note in notes %}
          <div class="card my-4">
            <div class="card-header" style="background: #71a0c9; color:white; ">
              <h5 class ="card-title" style="margin-bottom:0;">{{note.title}}</h5>
            </div>
            <div class="card-body" style="padding-left: 1vw; padding-right: 1vw; padding-top: 0.5vw;">
              <p class="card-text" style="font-weight: bold; margin-bottom:0;">From: {{note.sender}}</p>
              <p class="card-text" style="font-weight: bold; margin-bottom:0;">To: {{note.to}}</p>
              <p class ="card-text">{{note.message}}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
