<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab4_form.css' %}">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
          <label for="{{form.to.id_for_label}}">To</label>
          {{form.to}}
        </div>
        <div class="fieldWrapper">
          <label for="{{form.sender.id_for_label}}">From</label>
          {{form.sender}}
        </div>
        <div class="fieldWrapper">
          <label for="{{form.title.id_for_label}}">Title</label>
          {{form.title}}
        </div>
        <div class="fieldWrapper">
          <label for="{{form.message.id_for_label}}">Message</label>
          {{form.message}}
        </div>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
