<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Notes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% include "navbar.html" %}
    <table class="table table-striped table-bordered w-50 mx-auto my-4">
      <tr style="color: white; background: #71a0c9;">
        <th class='to'>To</th>
        <th class='from'>From</th>
        <th class='title'>Title</th>
        <th class='message'>Message</th>
      </tr>
      {% if notes %}
        {% for note in notes %}
          <tr>
            <td>
              {{note.to}}
            </td>
            <td>
              {{note.sender}}
            </td>
            <td>
              {{note.title}}
            </td>
            <td>
              {{note.message}}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
