body {
    text-align: center;
}
table {
    margin: auto;
}
input {
    margin: 8px;
    padding: 4px;
}
input[type=submit] {
    padding: 8px;
    border-radius: 10px;
}
.fieldWrapper input {
    width: 240px;
}