.content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    margin-right: 16vw;
    margin-left: 16vw;
}
.card {
    width: 16vw; 
    height: 16vw;
}
.card-body {
    overflow-y: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.card-body::-webkit-scrollbar {
    display: none;
}
.card-title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}