form {
    display: flex;
    justify-content: center;
}
input {
    margin: 8px;
    padding: 4px;
}
input[type=submit] {
    padding: 8px;
    border-radius: 10px;
}
.fieldWrapper input {
    width: 240px;
}