table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 16px;
}
th {
    background: #83bdef;
}
th.to, th.from {
    width: 8%;
}
th.title {
    width: 16%;
}
tr:nth-child(odd) {
    background: #e0e0e0;
}