<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'friends_table.css' %}">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <table style="margin-top: 8px">
      <tr>
        <th class='name'>Name</th>
        <th class='npm'>NPM</th>
        <th class='dob'>DOB</th>
      </tr>
      {% if friends %}
        {% for friend in friends %}
          <tr>
            <td>
              {{friend.name}}
            </td>
            <td>
              {{friend.npm}}
            </td>
            <td>
              {{friend.birth_date}}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
