<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
          <label for="{{form.name.id_for_label}}">Name</label>
          {{form.name}}
        </div>
        <div class="fieldWrapper">
          <label for="{{form.npm.id_for_label}}">NPM</label>
          {{form.npm}}
        </div>
        <div class="fieldWrapper">
          <label for="{{form.birth_date.id_for_label}}">DOB</label>
          {{form.birth_date.as_widget}}
        </div>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
