<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Notes</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <table style="margin-top:16px;">
      <tr>
        <th class='to'>To</th>
        <th class='from'>From</th>
        <th class='title'>Title</th>
        <th class='message'>Message</th>
      </tr>
      {% if notes %}
        {% for note in notes %}
          <tr>
            <td>
              {{note.to}}
            </td>
            <td>
              {{note.sender}}
            </td>
            <td>
              {{note.title}}
            </td>
            <td>
              {{note.message}}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
