form {
    display: grid;
    place-items: center;
}
input {
    margin: 8px;
    padding: 4px;
}
input[type=submit] {
    padding: 8px;
    border-radius: 10px;
}
.fieldWrapper input {
    width: 240px;
}
.fieldWrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    display: grid;
    place-items: center;
}