table {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 16px;
}
th {
    background: #47cc6f;
}
th.npm {
    width: 16%;
}
th.dob {
    width: 24%;
}
tr:nth-child(odd) {
    background: #e0e0e0;
}